html {
    height: 100%;
}
body {
    background-image: url('battle_Second.jpg');
    background-position: left;
    background-attachment: fixed;
    background-size: stretch;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    height: 100%;
	margin: 0;
}
body:hover {
    background-color: rgba(255, 255, 255, 0.0);
}
div.radioButtonContainer {
    width: 33.3%;
	margin: 0;
	opacity: 0.7;
    float: left;
	box-sizing: border-box;
}
div.radioButtonContainer:hover {
	opacity: 1.0;
}
div.sliderContainer {
    width: 33.3%;
    float: left;
	margin: 0;
	opacity: 0.7;
    overflow: hidden;
}
div.sliderContainer:hover {
	opacity: 1.0;
}
p.rgbDisplayer {
	margin: 0;
    text-align: center;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + label{
	background: linear-gradient(#000, #f00, #000);
}
.redChooser {
	background: #FF0000;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
    margin: 0;
}
.redChooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('redSkully.png') center no-repeat;
  border-radius: 5px;
  cursor: pointer; 
}
.greenChooser {
	background: #00FF00;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
    margin: 0;
}
.greenChooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('greenSkully.png') center no-repeat;
  border-radius: 5px;
  cursor: pointer; 
}
.blueChooser {
	background: #0000FF;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
    margin: 0;
}
.blueChooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('blueSkully.png') center no-repeat;
  border-radius: 5px;
  cursor: pointer; 
}
dl {
    display: inline-block;
    margin: 0;
    width: 100%;
}
dt {
    opacity: 0.7;
    margin: 0;
}
dt:hover {
    opacity: 1.0;
    font-weight: bold;
}
dd {
    opacity: 0.7;
}
dd:hover {
    opacity: 1.0;
    font-weight: bold;
}
ol {
    margin: 0;
}
li {
    opacity: 0.7;
}
li:hover {
    opacity: 1.0;
    font-weight: bold;
}
figure {
    margin: 0;
}
figcaption {
    opacity: 0.7;
}
figcaption:hover {
    opacity: 1.0;
    font-weight: bold;
}
span {
    text-align: center;
}
div {
    text-align: center;
}
#taskP {
    margin: 0;
    font-size: 20pt;
    text-align: center;
    width: 100%;
    opacity: 0.7;
}
#taskP:hover {
    opacity: 1.0;
    font-weight: bold;
}
label {
	width: 100%;
	float: left;
    padding: .5em 1em;
    cursor: pointer;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0;
    color: #000;
    background-color: #f00;
	box-sizing: border-box;
	text-align: center;
}
.strobeLabels {
    width: 50%;
    background-image: radial-gradient(red 0%, orange 16%, yellow 32%, green 48%, blue 64%, violet 80%);
}
label#stopStrobeButtonLabel {
    background-image: radial-gradient(violet 0%, blue 16%, green 32%, yellow 48%, orange 64%, red 80%);
}