html {
  height: 100%;
}
body {
  background-image: url('battle_Fourth.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  height: 100%;
  margin: 0;
}
body:hover {
  background-color: rgba(255, 255, 255, 0.0);
}
div.radioButtonContainer {
  width: 33.3%;
  margin: 0;
  opacity: 0.7;
  float: left;
  box-sizing: border-box;
}
div.radioButtonContainer:hover {
  opacity: 1.0;
}
div.sliderContainer {
  width: 33.3%;
  float: left;
	margin: 0;
	opacity: 0.7;
  overflow: hidden;
}
div.sliderContainer:hover {
	opacity: 1.0;
}
p {
  margin: 0;
  text-align: center;
}
dl {
  margin: 0;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + label{
	background: linear-gradient(#000, #f00, #000);
}
input[type="checkbox"] {
  /*-webkit-appearance: none;*/
  appearance: none;
  max-height: 20px;
  max-width: 20px;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: transparent;
  margin: 0;
  display: grid;
  place-content: center;
}
.innerGoals input {
  max-width: 14px;
  max-height: 14px;
}
input:checked .testaRoo{
  transform: scale(1);
}
input[type="checkbox"]::before {
  content: "";
  transform: scale(0);
  width: 0.65em;
  height: 0.65em;
  transition: 500ms transform ease-in-out;
  background-color: #000;
}
.goalLabels input[type="checkbox"]::before {
  width: 1.1em;
  height: 1.1em;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.redChooser {
	background: #FF0000;
	border-radius: 5px;
  -webkit-appearance: none;
	appearance: none;
  margin: 0;
}
.redChooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('redSkully.png') center no-repeat;
  border-radius: 5px;
  cursor: pointer; 
}
.greenChooser {
	background: #00FF00;
	border-radius: 5px;
  -webkit-appearance: none;
	appearance: none;
  margin: 0;
}
.greenChooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('greenSkully.png') center no-repeat;
  border-radius: 5px;
  cursor: pointer; 
}
.blueChooser {
	background: #0000FF;
	border-radius: 5px;
  -webkit-appearance: none;
	appearance: none;
  margin: 0;
}
.blueChooser::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('blueSkully.png') center no-repeat;
  border-radius: 5px;
  cursor: pointer; 
}
label {
  width: 100%;
	float: left;
  padding: .5em 1em;
  cursor: pointer;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 0;
  color: #000;
  background-color: #f00;
	box-sizing: border-box;
	text-align: center;
}
.strobeLabels {
  width: 50%;
  background-image: radial-gradient(red 0%, orange 16%, yellow 32%, green 48%, blue 64%, violet 80%);
}
label#stopStrobeButtonLabel {
  background-image: radial-gradient(violet 0%, blue 16%, green 32%, yellow 48%, orange 64%, red 80%);
}
.goalLabels {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: none;
  font-size: 15pt;
  text-align: left;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.innerGoals {
  background-color: transparent;
  border: none;
  font-size: 10pt;
  text-align: left;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
dt, dd {
  opacity: 0.7;
  margin-top: 0;
}
/*
dd {
  opacity: 0.7;
}
*/
dt:hover, dd:hover {
  opacity: 1.0;
  font-weight: bold;
}
/*dd:hover {
  opacity: 1.0;
  font-weight: bold;
}*/
#mainHeader {
  font-size: 20pt;
  display: inline-block;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}
#mainHeader:hover {
  opacity: 1.0;
  font-weight: bold;
}